Online Digital Photo Printing/ODPP.Business/Service References/MyServices/EncryptDecrypt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnCrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEnCrypt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnCryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnCryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeCrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDecypt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeCryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeCryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnCryptSoapIn">
    <wsdl:part name="parameters" element="tns:EnCrypt" />
  </wsdl:message>
  <wsdl:message name="EnCryptSoapOut">
    <wsdl:part name="parameters" element="tns:EnCryptResponse" />
  </wsdl:message>
  <wsdl:message name="DeCryptSoapIn">
    <wsdl:part name="parameters" element="tns:DeCrypt" />
  </wsdl:message>
  <wsdl:message name="DeCryptSoapOut">
    <wsdl:part name="parameters" element="tns:DeCryptResponse" />
  </wsdl:message>
  <wsdl:portType name="EncryptDecryptSoap">
    <wsdl:operation name="EnCrypt">
      <wsdl:input message="tns:EnCryptSoapIn" />
      <wsdl:output message="tns:EnCryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeCrypt">
      <wsdl:input message="tns:DeCryptSoapIn" />
      <wsdl:output message="tns:DeCryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EncryptDecryptSoap" type="tns:EncryptDecryptSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnCrypt">
      <soap:operation soapAction="http://tempuri.org/EnCrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeCrypt">
      <soap:operation soapAction="http://tempuri.org/DeCrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EncryptDecryptSoap12" type="tns:EncryptDecryptSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnCrypt">
      <soap12:operation soapAction="http://tempuri.org/EnCrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeCrypt">
      <soap12:operation soapAction="http://tempuri.org/DeCrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EncryptDecrypt">
    <wsdl:port name="EncryptDecryptSoap" binding="tns:EncryptDecryptSoap">
      <soap:address location="http://localhost:59049/EncryptDecrypt.asmx" />
    </wsdl:port>
    <wsdl:port name="EncryptDecryptSoap12" binding="tns:EncryptDecryptSoap12">
      <soap12:address location="http://localhost:59049/EncryptDecrypt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>